@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background-clr: white;
    --text-clr: black;
    --hover-clr: #0088a9;
    --hover-bkd: aliceblue;
    --active-clr: black;
    --active-text: white;
    --box-shadow: rgb(79, 79, 79);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: var(--text-clr);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}

.topnav li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

.topnav li a:hover {
    color: var(--hover-clr);
    background-color: var(--hover-bkd);
    border-radius: 10px;
}

.drpbtn {
    background-color: var(--background-clr);
    color: var(--text-clr);
    border: none;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease 0s;

}

.drpbtn:hover {
    color: var(--hover-clr);
    background-color: var(--hover-bkd);
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-clr);
    min-width: 200px;
    box-shadow: 0px 4px 8px 0px var(--box-shadow);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: var(--text-clr);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover {
    .dropdown-content {
        display: block;
    }
}


.topnav li a {
    transition: all 0.3s ease 0s;
}

.active {
    background-color: var(--active-clr);
    color: var(--active-text);
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--active-clr);
}

@media (max-width: 768px) {

    .topnav li {
        display: block;
        text-align: center;
    }

    .topnav li {
        margin: 16px 0;
    }

}

.public-id {
    margin-top: 15vh;
}

@media (max-width: 768px) {
    .public-id { margin-top: 10vh;
    }
}

.personal-id h1 {
    margin-top: 2%;
    text-align: center;
}

.prof-id {
    margin: auto;
    display: flex;
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.topics {
    margin-top: 2%;
    text-align: center;
}

.topics li {
    list-style: none;
    display: inline-block;
    font-weight: 600;
    padding: 2px;
    border-radius: 10px;
}

.highlight {
    color: var(--active-text);
    background-color: var(--active-clr);
    padding: 5px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .topics {
        margin-top: 4%;
    }
    .topics li {
        display: block;
        padding: 3px 3px;
        margin: 2% 2% 2% 2%;
    }
}

.socials {
    margin-top: 2%;
    text-align: center;
}

.socials li{
    list-style: none;
    display: inline-block;
    padding: 0 2%;
}

.socials {
    color: var(--text-clr);
}

.socials i {
    transition: all 0.3s ease 0s;
}

.socials i:hover {
    color: var(--hover-clr);
    background-color: var(--hover-bkd);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .socials {
        margin-top: 10%;
    }
}

.t-statement {
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 5vh;
    width: 50rem;
    line-height: 1.5em;
    font-size: 24px;
    max-width: 80%;
}

.t-statement h1 {
    margin-bottom: 25px;
    text-align: center;
}

@media (max-width: 768px) {
    .t-statement h1{
        line-height: 1.1em;
    };
}

.a-statement {
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 5vh;
    max-width: 50rem;
    min-width: 40vw;
    line-height: 1.5em;
    font-size: 24px;
}

.a-statement h1 {
    margin-bottom: 25px;
    text-align: center;
}

@media (max-width: 800px) {
    .t-statement,
    .a-statement,
    .t-materials { 
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 600px) {
    .c-v, .ex-syll {
        display: none;
    }
}

.t-materials {
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 5vh;
    max-width: 50rem;
    min-width: 40vw;
    line-height: 1.5em;
    font-size: 24px;
}

.t-materials h1 {
    margin-bottom: 25px;
    text-align: center;
}

@media (max-width: 768px) {
    .t-materials h1{
        line-height: 1.1em;
    };
}

.ex-syll {
    width: 70vw;
    height: 75vh;
    border-radius: 15px;
}

.syll-dl {
    text-align: center;
    margin-top: 2%;
    padding: 10px;
}

.syll-dl button {
    background-color: var(--active-clr);
    color: var(--active-text);
    text-decoration: none;
    padding: 15px;
    border-style: none;
    border-radius: 10px;
    font-weight: 600;
}

.syll-dl button:hover {
    background-color: var(--hover-bkd);
    color: var(--hover-clr);
    cursor: pointer;
}

.v-frame {
    margin: auto;
    text-align: center;
    margin-top: 2%;
}

.v-frame h1 {
    margin-bottom: 25px;
}

.c-v {
    width: 70vw;
    height: 75vh;
    border-radius: 15px;
}

.cv-download {
    text-align: center;
    margin-top: 2%;
    padding: 10px;
}

.cv-download button {
    background-color: var(--active-clr);
    color: var(--active-text);
    text-decoration: none;
    padding: 15px;
    border-style: none;
    border-radius: 10px;
    font-weight: 600;
}

.cv-download button:hover {
    background-color: var(--hover-bkd);
    color: var(--hover-clr);
    cursor: pointer;
}